.justify-content-right {
  justify-content: flex-end;
}

.text-align-center {
  text-align: center;
}

.label-postulant {
  font-family: 'Roboto Lighter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  width: 114px;
  display: flex;
  place-content: center;
  height: 24px;
  background: #f1efef;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  margin-top: 10px !important;
}

.name-company {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #222121;
  mix-blend-mode: normal;
  margin-bottom: 5px !important;
}

.edit-card {
  font-family: 'Roboto Lighter';
  font-size: 14px;
  float: right;
  font-weight: 600;
  line-height: 16px;
  color: #000;
  border: none;
  background: none;
  letter-spacing: 1.25px;
}

.label-form-modal {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  width: 100% !important;
  height: 30px;
  color: #000000;
  text-align: left;
}

.btn-nuevo-user {
  background: #ed1d40;
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 10px;
  width: 191px;
  padding: 5px 0px;
  margin-left: 12px;
  margin-bottom: 5px;
  letter-spacing: 1.25px;
  text-decoration: none;
}

.btn-nuevo-user:hover {
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .btn-nuevo-user {
    margin-top: 20px;
    padding: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .btn-nuevo-user {
    margin-top: 10px;
    padding: 10px;
  }
}
