
.slide__containerText{
  line-height: 1rem;
}

.slide__title-bold{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1rem;
}

.slide__title-light{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
}

/* slides.js */

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}