svg.MuiSvgIcon-root.Carousel-indicator-45 {
  color: white;
  padding: 0.8rem;
}

svg.MuiSvgIcon-root.Carousel-indicator-45.Carousel-active-46{
  color:#00F0CA
}
@media screen and (min-width: 600px){
  .Carousel-root-43.ourProcessSlides {
    display: flex;
    flex-direction: row-reverse;
  }

  .Carousel-indicators-44 {
    width: 15% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.slide__containerText{
  line-height: 1rem;
}

.slide__title-bold{
  font-weight: 700;
  font-size: 2rem;
  line-height: 1rem;
}

.slide__title-light{
  font-weight: 400;
  font-size: 1.7rem;
}