.MuiTabs-flexContainer button {
    width: 50%;
}
/*.Mui-selected .MuiTab-wrapper{
    font-weight: bold !important;
}
.MuiTabs-indicator {
    background-color: #4E51FE !important;
    height: 4px !important;
}*/
