/*Register*/
.text{
    position: static;
    width: 312px;
    height: 62px;
    margin-top: 118px;
    margin-left: 0 !important;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    color: #000000;
    line-height: 130%;
    display: flex;
    align-items: center;
}

.form-container{
    margin-top: 40px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.wrapper{
    margin-left: 0px !important;
} 
.style-input-email{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    width: 312px;
    height: 53px;
    color: #979797;

}
.style-input-password{
    font-family: 'Raleway', sans-serif;
    margin-top: px;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    width: 312px;
    height: 53px;
    color: #979797;
}
.style-input-error{
/* Hay un error */
position: static;
width: 250px;
height: 10px;
left: 0px;
top: 30px;
/* Helper-text */
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 100%;
/* identical to box height, or 10px */
display: flex;
align-items: center;
color: #ED1D40;

}
.style-placeholder{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    color: #979797;
}
.input-icono {
    background-image: url(../../assets/icons/verification.svg);
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 20px;
    color: green;
}

.container-buttons{
    margin-top: 12px;
    margin-bottom: 12px;
}
.btn-cancel-register{
    /* button/secondary */
    position: static;
    width: 139px;
    height: 40px;
    left: 0px;
    top: 0px;
    border: 1px solid #979797;
    color: #B9B9BA;
    box-sizing: border-box;   
}
.btn-register{
    position: static;
    width: 150px;
    height: 40px;
    left: 0;
    top: 0;
    /* primary */
    background: #ED1D40;
    color: #FFFFFF;
    box-sizing: border-box;
}

.span-login{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    line-height: 130%;  
}