:root{
    --principalColor: #E20613;
    --paragraphColor: #373737;
    --titleColor: #222121;
    --primaryButtonColor: #ed1d40;
    --secondaryButtonColor: #46A9D4;
    --smokeWhiteColor: #F1EFEF;
    --lightGrayColor: #aaaaaa;
    --greenLight: #B8EA71;
    --orangeLight: #FBC547;
    --redLight: #F96E6E;

    --fontFamily:'Poppins', sans-serif;
    --fontFamilySecondary:'Roboto', sans-serif;
}