.MuiFormLabel-root.Mui-focused {
    color: var(--secondaryButtonColor) !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: var(--secondaryButtonColor) !important;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-multiline.MuiOutlinedInput-multiline {
    line-height: 1.5;
}