
.background{
    width: 100%;
    // height: 65vh;
    margin: 0 auto;
    padding-bottom: 2rem;
    background-image: url("../../images2/page-register/bg-success.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
}

.main{
    padding-top: 5rem;
    h1{
        margin: 0;
    }
}

.text{
    width: 50%;
}