@import "../variables";
@import "../mixins";
@import "../colors";

.container{
    background: #C60511;
    color : white !important;   
}
.header{
    width: $width_desktop;
    height: $height_nav;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C60511;
    color : white !important;
    
}

@include mediaTablet(){
    .header{
        width: $width_movil;
    }
}