@import "../variables";
@import "../mixins";
@import "../colors";

.container{
    background: #fff;
   
}
.header{
    width: $width_desktop;
    height: $height_nav;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    .logo{
        display: flex;
        align-items: center;
    
    }
}


.img{
    width: 100%;
}
@include mediaTablet(){
    .header{
        width: $width_movil;
    }
}