@import "../colors";

.title{
    font-weight: 700;
    font-size: 1.5em;
    line-height: 115%;
}

.dark{
    @extend .title;
    color:$color_secondary;

}

.light{
    @extend .title;
    color:#fff
}