.icon-next-small-button-blue{
    background-image: url(/static/media/icon-next-button.3f0cbaa1.svg);
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 10px;
    padding: 8px 65px;
}
/* .just{
    display: flex;
    justify-content: center;
}
.hola{
    width: 312px;
    height: 48px;
    border-radius: 2px;
    text-align: center;
} */