.text-msg-password {
  font-family: 'Roboto Lighter';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 130%;
  color: #222121;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
}

.tittle-msg-password {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 130%;
  color: #222121;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
}
