@import '../colors';

$nav-link-color:$color_primary;
$nav-link-hover-color: $color_primary;
$nav-link-font-size: 1em;
$nav-link-font-weight: 700;

$nav-tabs-link-active-bg: #fff;
$nav-tabs-link-active-color: $color_primary;
// $nav-tabs-link-active-border-color: #E20613 #fff #fff #fff;
$nav-tabs-link-hover-border-color:#F1F2F5;