.wrapper-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 95.04px;
}
.m-nav {
    margin-top: 100px;
}
.h1-tittle-Home{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.15px;
    color: #000000;
    margin-left: 24px;
    margin-top: 48px;
    margin-bottom: 10px;
}
.h1-tittle-box{
    margin-top: 24px;
    margin-bottom: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.15px;
    color: #000000;
}
.text-tittle-p{
    /* Regular text */
    font-family: 'MuseoSans';
    font-size: 14px;
    line-height: 120%;
    /* or 17px */
    letter-spacing: 0.25px;
    color: #000000;
}
.box-container-title{
    background: #F7F7F7;
    border-radius: 8px;
    height: 207px;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 24px;
}
.box-container-title-two{
    margin-top: 40px;
    background:  #EBEBEB;
    height: 374px;
}
.box-container-title-three{
    margin-top: 24px;
    margin-bottom: 216px;
    background:  #EBEBEB;
    height: 245px;
    
}
.text-box-one{
    font-family: 'MuseoSans';
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.25px;
    color: #000000;
}
.text-box-three{
    font-family: 'MuseoSans';
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.25px;
    color: #000000;
}
.btn-operativa{
    background: #ED1D40;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 0px ;
    width: 126px;
    height: 23px;
    padding: 2px 0px;
}
.icon-image-conexion{
    width: 110px;
    margin:0 auto;
}
.icon-ilustracion{
    width: 120px;
    background: #F7F7F7;
    border-radius: 8px;
    margin:0 auto;

}
.icon-image-rubros{
    width: 80px;
    height: 80px;
}
.text-icon-rubros{
    width: 80px;
    /* Regular text */
    font-family: 'MuseoSans';
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */
    letter-spacing: 0.25px;
    color: #373737;
}
.box-container-align{
    margin-left: 24px;
    text-align: center;
}
.box-container-align-rubros{
    padding-left: 24px;
    padding-right: 24px;
}
.container-icons-group{
    margin-top: 0px
}

.h1-tittle-carousel{
font-family: 'Raleway';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 130%;
letter-spacing: 0.15px;
color: #000000;
padding-top: 20px;
margin-top: 32px;
}
.slide{
    margin-top: 21px;
    margin-bottom: 20px;
}
.slide img{
    height: 100px;
}
