body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.react-datepicker__input-container {
  position: absoluta !important;
  display: inline-block;
  width: 100%;
}

/* Forms */
.h1-custom {
  position: static;
  width: 312px;
  height: 62px;
  margin-top: 118px;
  margin-left: 0 !important;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 24px;
  font-style: normal;
  color: #000000;
  line-height: 130%;
  display: flex;
  align-items: center;

}.h1-custom-home {
  position: static;
  width: 312px;
  height: 62px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-style: normal;
  color: #000000;
  line-height: 130%;
  display: flex;
  align-items: center;
}

.h1-custom-init {
  position: static;
  width: 312px;
  height: 62px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-style: normal;
  color: #000000;
  line-height: 130%;
  display: flex;
  justify-content: center;
  margin-top: 128px;
  margin-left: 24px;
}
.h1-title-form {
  position: absolute;
  width: 312px;
  height: 84px;
  left: 24px;
  top: 112px;
  /* Heading 1 */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 130%;
  /* or 42px */
  text-transform: uppercase;
  /* darker-gray */
  color: #373737;
}
.h1-form{
  position: absolute;
  width: 312px;
  height: 37px;
  left: 24px;
  top: 246px;
  /* Heading 1 */
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
 /* Inside Auto Layout */
 flex: none;
 order: 0;
 align-self: flex-start;
}
.form-container{
  margin-top: 40px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.form-container-info{
  margin-top: 294px;
  margin-left:12px;
  margin-right: 12px;
}
.form-container-select{
  margin-top: -40px;
}

.label-form{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  width: 100%!important;
  height: 53px;
  color: #979797;
  text-align: left;

}
.input-container {
  position: absoluta !important;
  display: inline-block;
  width: 100%;
}
.label-form-calen{
  display: flex;
  flex-direction: column;
  padding: 12px 8px;
  height: 48px;
  top: 23px;
  border: 0.5px solid #AAAAAA;
  box-sizing: border-box;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: flex-start;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #979797;
  position: absoluta !important;
  width: 100% !important;
}
.label-form-text{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  width: 100%;
  height: 19px;
  color: #979797;
  text-align: left;
}
.form-text-check{
  font-family: MuseoSans;
  font-size: 16px;
  line-height: 19px;
  color: #373737;
}
.input-error {
/* Hay un error */
position: static;
width: 250px;
height: 10px;
left: 0px;
top: 30px;
/* Helper-text */
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 100%;
/* identical to box height, or 10px */
display: flex;
align-items: center;
color: #ED1D40;

}
.placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: normal;
  display: flex;
  justify-content: center;
  color: #979797;
}
.input-icono {
  background-image: url(./assets/icons/verification.svg);
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 20px;
}
.icon-calendar {
  background-image: url(./assets/icons/date.svg);
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 32px;
}
.container-buttons{
  margin-top: 12px;
  margin-bottom: 12px;
}
.btn-cancel-register{
  /* button/secondary */
  position: static;
  width: 46%;
  height: 40px;
  left: 0px;
  top: 0px;
  border: 1px solid #979797;
  color: #B9B9BA;
  box-sizing: border-box;   
}
.btn-register{
  position: static;
  width: 46%;
  height: 40px;
  left: 0;
  top: 0;
  /* primary */
  background: #ED1D40;
  color: #FFFFFF;
  box-sizing: border-box;
  margin-left: 8%;
}
.btn-login {
  position: static;
  width: 48%;
  height: 40px;
  left: 0;
  top: 0;
  /* primary */
  background: #ED1D40;
  color: #FFFFFF;
  box-sizing: border-box;
  margin-left: 6%;
}
.button-sign-up {
  width: 100%;
  height: 40px;
  background: #ED1D40;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  padding: 12px 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: calc(90vh - 130px);
}
.button-continue{
  position: static;
  left: 0%;
  right: 32.52%;
  top: 16.67%;
  bottom: 16.67%;
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
  color:#46A9D4;
}
.info-form{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 130%;  
}

.terms-checkbox {
  width: 15px;
  height: 15px;
  vertical-align: middle;
}

@media only screen and (max-width: 600px) {

}