.container-main{
    width: 100vw;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-container {
    background: #FAFBFF;
    padding: 1rem;
}

.dashboard-data-card {
    background: #F1EFEF;
    padding: .5rem;
}

.dashboard-data-card > div:first-child {
    display: flex;
    align-items: center;
}

.highcharts-credits {
    display: none;
}